# Dependencies
node_modules

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Documentation
*.md

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile*
docker-compose*
.dockerignore
